.icon-sprite {
    background: url('/images/icon-s2cf229d574.png') no-repeat;
}

@keyframes my-animation {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

a:hover {
    text-decoration: underline;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.fl_l {
    float: left !important;
}

.fl_r {
    float: right !important;
}

.center {
    overflow: hidden;
}

.tac {
    text-align: center;
}

.nav, .nav_hor {
    list-style: none;
}

.nav_hor {
    margin: 0;
    padding: 0;
    border: 0;
    *zoom: 1;
}
.nav_hor:before, .nav_hor:after {
    content: "";
    display: table;
}
.nav_hor:after {
    clear: both;
}
.nav_hor li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}
.nav_hor li:first-child, .nav_hor li.first {
    padding-left: 0;
}
.nav_hor li:last-child {
    padding-right: 0;
}
.nav_hor li.last {
    padding-right: 0;
}

strong {
    font-weight: bold;
}

.login-form-item {
    display: inline-block;
    *zoom: 1;
    padding: 0 15px;
    margin: 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form-item:before, .login-form-item:after {
    content: "";
    display: table;
}
.login-form-item:after {
    clear: both;
}
.login-form-item label {
    float: left;
    width: 42px;
    height: 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    background: #fefefe;
    position: relative;
    z-index: 4;
    cursor: pointer;
}
.login-form-item input, .login-form-item .bt-dropdown {
    float: left;
    margin: 0 0 0 -42px;
    color: #a3a3a3;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    width: 357px;
    height: 42px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 0 0 0 54px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login-form-item .icon-mail {
    font-size: 22px;
}
.login-form-item .icon-mobile {
    font-size: 22px;
}
.login-form-item span {
    display: inline-block;
    width: 100%;
    text-align: left;
    float: left;
    clear: left;
    color: #b4b4b4;
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    margin: 6px 0 0;
    padding: 0 0 0 43px;
    *zoom: 1;
}
.login-form-item span:before, .login-form-item span:after {
    content: "";
    display: table;
}
.login-form-item span:after {
    clear: both;
}
.login-form-item i {
    color: #aaaaaa;
    margin: 8px 0 0 !important;
    float: none;
    width: auto;
    font-size: 22px;
    display: inline-block;
}
.login-form-item .bt-dropdown {
    margin: 0 auto;
    position: relative;
}
.login-form-item .bt-dropdown a {
    text-align: left;
    line-height: 42px;
    display: block;
    color: #a3a3a3;
    padding: 0 0 0 54px;
    font-family: "HelveticaNeueCyr";
    font-size: 16px;
    text-decoration: none;
    width: 100%;
}
.login-form-item .bt-dropdown-toggle {
    padding: 0 !important;
    width: 100% !important;
    position: relative;
}
.login-form-item .bt-dropdown-toggle:after {
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #bdbbbc;
    right: 17px;
    top: 17px;
}
.login-form-item .bt-dropdown-options {
    width: 100%;
    top: 41px;
    overflow: hidden;
}

form {
    text-align: center;
}

table {
    width: 100%;
}
table a {
    color: #656565;
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    text-decoration: underline;
}
table a:hover {
    text-decoration: none;
}
table span {
    font-size: 24px;
    font-family: "helveticaneuecyrlight";
}
table td, table th {
    padding: 13px 8px 15px 30px;
    color: #656565;
    font-family: "HelveticaNeueCyr";
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table td:first-child, table th:first-child {
    padding: 13px 0 16px 35px;
    min-width: 91px !important;
}
table td:nth-child(3), table td:nth-child(4), table th:nth-child(3), table th:nth-child(4) {
    text-align: right !important;
}
table td:nth-child(5), table th:nth-child(5) {
    padding-right: 30px;
    text-align: right !important;
}

thead {
    border-bottom: 2px solid #afafaf;
}
thead td, thead th {
    text-transform: uppercase;
    padding: 0 8px 5px 30px;
    color: #9f9f9f;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
}
thead td:first-child, thead th:first-child {
    padding: 0 0 5px 35px;
}
thead a {
    color: #9f9f9f;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    text-decoration: none;
}
thead a:hover, thead a:hover i {
    color: #00ae9d;
}

tbody {
    border-bottom: 2px solid #afafaf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
tbody tr {
    background: #f3f3f3 !important;
    height: 52px;
}
tbody tr:nth-child(even) {
    background: #eeeeee !important;
}
tbody td, tbody th {
    min-height: 52px;
    background: none !important;
}

html {
    height: 100%;
}

body.small-screen {
    min-width: 100% !important;
}
body {
    font-family: "HelveticaNeueCyr";
    height: 100%;
    width: 100%;
    background: #f3f3f3;
    position: relative;
    min-width: 1024px !important;
}

.landing-wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../css/fonts/helveticaneuecyr-bold-webfont.eot");
    src: url("../css/fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../css/fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../css/fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../css/fonts/helveticaneuecyr-roman-webfont.eot");
    src: url("../css/fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../css/fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../css/fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url("../css/fonts/helveticaneuecyr-light-webfont.eot");
    src: url("../css/fonts/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../css/fonts/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("../css/fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url("../css/fonts/icomoon.eot?kc63vh");
    src: url("../css/fonts/icomoon.eot?#iefixkc63vh") format("embedded-opentype"), url("../css/fonts/icomoon.woff?kc63vh") format("woff"), url("../css/fonts/icomoon.ttf?kc63vh") format("truetype"), url("../css/fonts/icomoon.svg?kc63vh#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.21);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding: 0 32px;
}
.btn:hover {
    box-shadow: none !important;
}
.btn.disabled {
    cursor: default;
    background-color: #a9a9a9 !important;
    box-shadow: none !important;
}

.btn-big {
    width: 271px;
    padding: 0 !important;
}

.btn_w175 {
    width: 175px;
}

.btn_w205 {
    width: 205px;
}

.btn-red {
    cursor: pointer;
    padding: 0 61px;
    height: 63px;
    background-color: #df5f4b;
}

.btn-green {
    padding: 0 48px;
    height: 63px;
    background-color: #00ad9d;
}

h2 {
    color: #00ad9d;
    font-size: 24px;
    font-family: "jakocttbold";
    font-weight: bold;
    margin: 0 0 45px;
    text-align: center;
}

h3 {
    color: #d5614f;
    font-family: "jakocttbold";
    font-family: "Veles";
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 45px;
}

h4 {
    color: #f5906e;
    font-size: 22px;
    font-family: "jakocttbold";
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 52px;
    margin: 4px 89px 0 4px;
}

.notification-success, .notification-error {
    font-family: 'HelveticaNeueCyr';
    color: green !important;
    background: rgba(0, 128, 0, 0.3);
    font-size: 14px !important;
    margin: 0 0 -10px !important;
    padding: 3px 0;
}

.notification-error {
    color: red !important;
    background: rgba(255, 0, 0, 0.3);
}

/***************************************************/
/*      header
/***************************************************/
.header .wrapper{
    padding: 0 22px 0 10px !important;
}
.header{
    z-index: 20;
    -webkit-transition-property: padding;
    -moz-transition-property: padding;
    -o-transition-property: padding;
    transition-property: padding;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    min-width: 1024px;
}

.small-screen .in-site{
    position: relative;
    top: 7px;
}
.small-screen .footer,
.small-screen .header{
    min-width: 100%;
}

/***************************************************/
/*      content
/***************************************************/
.content, .content-landing {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding: 167px 0 90px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-landing {
    display: block;
    height: 100%;
    position: relative;
    padding: 0 !important;
}

.scroller {
    display: block !important;
    min-height: 100% !important;
    height: 100%;
}

.container {
    display: block !important;
    height: 100%;
}

.big-search {
    max-width: 687px;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #f9f9f9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 27px 25px 27px 23px;
    margin: 0 auto;
    -webkit-box-shadow: #c1c1c1 0 0 12px 0px;
    -moz-box-shadow: #c1c1c1 0 0 12px 0px;
    box-shadow: #c1c1c1 0 0 12px 0px;
    position: relative;
    z-index: 1;
}
.big-search:after {
    content: "";
    position: absolute;
    background: url("../images/men.png") no-repeat;
    width: 142px;
    height: 207px;
    display: inline-block;
    left: 50%;
    top: -199px;
    margin-left: -71px;
}
.big-search input[type="text"] {
    max-width: 407px;
    width: 100%;
    height: 62px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #aeaeae;
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    padding: 0 0 0 30px;
    margin: 0 21px 0 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.small-screen .big-screen-in{
    display: none;

}
.small-screen .man-move{
    display: none;
}
.small-screen .landing-wrapper{
    overflow: visible;
    display: table;
}
.small-screen .small-screen-in{
    display: table-cell;
}
.small-screen .onepage-pagination{
    display: none;
}
.small-screen .header{
    padding-top: 15px;
    padding-bottom: 15px;
}

.men-sprite, .man, .man-move, .viewing-page-2 .man-move, .viewing-page-5 .man-move {
    background: url('../images/men-sd6fe53fcb6.png') no-repeat;
}
/***************************************************/
/*      footer
/***************************************************/
.footer {
    background-color: #00ad9d;
    padding: 17px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 1024px;
    z-index: 10;
}

.man {
    background: url("../images/men.png");
    width: 142px;
    height: 207px;
}

.site-overlay, .popup-overlay {
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    display: none;
    position: fixed;
    background: #000000;
    top: 0;
    z-index: 15;
    left: 0;
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main section {
    overflow: hidden;
    min-height: 100%;
    height: 100%;
    width: 100%;
}
.main > img {
    position: absolute;
    max-width: 100%;
    z-index: 1;
}

.page_container {
    padding: 104px 0 65px;
    position: relative;
}
.page_container h2 {
    font-weight: normal;
    font-size: 25px;
    line-height: normal;
}
.page_container .big-search {
    margin: 127px auto 0;
    padding: 39px 92px 36px 90px;
    width: 819px;
    max-width: 819px;
    z-index: 5;
}
.page_container .big-search:after {
    display: none;
}
.page_container .big-search input[type="text"] {
    width: 498px;
    color: #000;
}
@-webkit-keyframes pulseBorder{
    0%   { bottom: 60px }
    50%  { bottom: 55px; }
    100%   { bottom: 60px }
}
@keyframes pulseBorder {
    0%   { bottom: 60px }
    50%  { bottom: 55px; }
    100%   { bottom: 60px }
}
.page1 {
    background: url("../images/page1-bg.png") no-repeat center 80%, url("../images/header-top.png") no-repeat center 239px;
}
.page1 .page_container {
    padding: 145px 0 65px;
}
.page1 .scroll-img {
    width: 29px;
    left: 50%;
    height: 16px;
    margin: 0 0 0 -15px;
    font-size: 1.5rem;
    color: #00ad9d;
    -webkit-animation: pulseBorder 1s infinite;
    animation: pulseBorder 1s infinite;
}

.page2 {
    background: url("../images/page3-bg.png") no-repeat center 35%;
    position: relative;
}
.page2.active .question li:nth-child(1) {
    -webkit-transition-delay: 1.04s;
    -moz-transition-delay: 1.04s;
    -o-transition-delay: 1.04s;
    transition-delay: 1.04s;
    opacity: 1;
}
.page2.active .question li:nth-child(2) {
    -webkit-transition-delay: 1.08s;
    -moz-transition-delay: 1.08s;
    -o-transition-delay: 1.08s;
    transition-delay: 1.08s;
    opacity: 1;
}
.page2.active .question li:nth-child(3) {
    -webkit-transition-delay: 1.12s;
    -moz-transition-delay: 1.12s;
    -o-transition-delay: 1.12s;
    transition-delay: 1.12s;
    opacity: 1;
}

.page3 {
    position: relative;
    overflow: visible;
}
.page3 > img {
    position: absolute;
    left: 50%;
    margin-left: -525px;
    top: 30%;
    opacity: 0.5;
}
.page3.active  > img {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    opacity: 1;
}
.page3.active  button {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    font-weight: 700;
    -webkit-transition-delay: 2.1s;
    -moz-transition-delay: 2.1s;
    -o-transition-delay: 2.1s;
    transition-delay: 2.1s;
    box-shadow: none;
}
.page3 .cash i {
    opacity: 0;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.page3.active .small-text i:nth-child(1) {
    -webkit-transition-delay: 0.04s;
    -moz-transition-delay: 0.04s;
    -o-transition-delay: 0.04s;
    transition-delay: 0.04s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(1) {
    -webkit-transition-delay: 1.98s;
    -moz-transition-delay: 1.98s;
    -o-transition-delay: 1.98s;
    transition-delay: 1.98s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(2) {
    -webkit-transition-delay: 0.08s;
    -moz-transition-delay: 0.08s;
    -o-transition-delay: 0.08s;
    transition-delay: 0.08s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(2) {
    -webkit-transition-delay: 2.02s;
    -moz-transition-delay: 2.02s;
    -o-transition-delay: 2.02s;
    transition-delay: 2.02s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(3) {
    -webkit-transition-delay: 0.12s;
    -moz-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(3) {
    -webkit-transition-delay: 2.06s;
    -moz-transition-delay: 2.06s;
    -o-transition-delay: 2.06s;
    transition-delay: 2.06s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(4) {
    -webkit-transition-delay: 0.16s;
    -moz-transition-delay: 0.16s;
    -o-transition-delay: 0.16s;
    transition-delay: 0.16s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(4) {
    -webkit-transition-delay: 2.1s;
    -moz-transition-delay: 2.1s;
    -o-transition-delay: 2.1s;
    transition-delay: 2.1s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(5) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(5) {
    -webkit-transition-delay: 2.14s;
    -moz-transition-delay: 2.14s;
    -o-transition-delay: 2.14s;
    transition-delay: 2.14s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(6) {
    -webkit-transition-delay: 0.24s;
    -moz-transition-delay: 0.24s;
    -o-transition-delay: 0.24s;
    transition-delay: 0.24s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(6) {
    -webkit-transition-delay: 2.18s;
    -moz-transition-delay: 2.18s;
    -o-transition-delay: 2.18s;
    transition-delay: 2.18s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(7) {
    -webkit-transition-delay: 0.28s;
    -moz-transition-delay: 0.28s;
    -o-transition-delay: 0.28s;
    transition-delay: 0.28s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(7) {
    -webkit-transition-delay: 2.22s;
    -moz-transition-delay: 2.22s;
    -o-transition-delay: 2.22s;
    transition-delay: 2.22s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(8) {
    -webkit-transition-delay: 0.32s;
    -moz-transition-delay: 0.32s;
    -o-transition-delay: 0.32s;
    transition-delay: 0.32s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(8) {
    -webkit-transition-delay: 2.26s;
    -moz-transition-delay: 2.26s;
    -o-transition-delay: 2.26s;
    transition-delay: 2.26s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(8) {
    -webkit-transition-delay: 0.62s;
    -moz-transition-delay: 0.62s;
    -o-transition-delay: 0.62s;
    transition-delay: 0.62s;
}
.page3.active .small-text i:nth-child(9) {
    -webkit-transition-delay: 0.36s;
    -moz-transition-delay: 0.36s;
    -o-transition-delay: 0.36s;
    transition-delay: 0.36s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(9) {
    -webkit-transition-delay: 2.3s;
    -moz-transition-delay: 2.3s;
    -o-transition-delay: 2.3s;
    transition-delay: 2.3s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(9) {
    -webkit-transition-delay: 0.66s;
    -moz-transition-delay: 0.66s;
    -o-transition-delay: 0.66s;
    transition-delay: 0.66s;
}
.page3.active .small-text i:nth-child(10) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(10) {
    -webkit-transition-delay: 2.34s;
    -moz-transition-delay: 2.34s;
    -o-transition-delay: 2.34s;
    transition-delay: 2.34s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(10) {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.page3.active .small-text i:nth-child(11) {
    -webkit-transition-delay: 0.44s;
    -moz-transition-delay: 0.44s;
    -o-transition-delay: 0.44s;
    transition-delay: 0.44s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(11) {
    -webkit-transition-delay: 2.38s;
    -moz-transition-delay: 2.38s;
    -o-transition-delay: 2.38s;
    transition-delay: 2.38s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(11) {
    -webkit-transition-delay: 0.74s;
    -moz-transition-delay: 0.74s;
    -o-transition-delay: 0.74s;
    transition-delay: 0.74s;
}
.page3.active .small-text i:nth-child(12) {
    -webkit-transition-delay: 0.48s;
    -moz-transition-delay: 0.48s;
    -o-transition-delay: 0.48s;
    transition-delay: 0.48s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(12) {
    -webkit-transition-delay: 2.42s;
    -moz-transition-delay: 2.42s;
    -o-transition-delay: 2.42s;
    transition-delay: 2.42s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(12) {
    -webkit-transition-delay: 0.78s;
    -moz-transition-delay: 0.78s;
    -o-transition-delay: 0.78s;
    transition-delay: 0.78s;
}
.page3.active .small-text i:nth-child(13) {
    -webkit-transition-delay: 0.52s;
    -moz-transition-delay: 0.52s;
    -o-transition-delay: 0.52s;
    transition-delay: 0.52s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(13) {
    -webkit-transition-delay: 2.46s;
    -moz-transition-delay: 2.46s;
    -o-transition-delay: 2.46s;
    transition-delay: 2.46s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(13) {
    -webkit-transition-delay: 0.82s;
    -moz-transition-delay: 0.82s;
    -o-transition-delay: 0.82s;
    transition-delay: 0.82s;
}
.page3.active .small-text i:nth-child(14) {
    -webkit-transition-delay: 0.56s;
    -moz-transition-delay: 0.56s;
    -o-transition-delay: 0.56s;
    transition-delay: 0.56s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(14) {
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(14) {
    -webkit-transition-delay: 0.86s;
    -moz-transition-delay: 0.86s;
    -o-transition-delay: 0.86s;
    transition-delay: 0.86s;
}
.page3.active .small-text i:nth-child(15) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(15) {
    -webkit-transition-delay: 2.54s;
    -moz-transition-delay: 2.54s;
    -o-transition-delay: 2.54s;
    transition-delay: 2.54s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(15) {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.page3.active .small-text i:nth-child(16) {
    -webkit-transition-delay: 0.64s;
    -moz-transition-delay: 0.64s;
    -o-transition-delay: 0.64s;
    transition-delay: 0.64s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(16) {
    -webkit-transition-delay: 2.58s;
    -moz-transition-delay: 2.58s;
    -o-transition-delay: 2.58s;
    transition-delay: 2.58s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(16) {
    -webkit-transition-delay: 0.94s;
    -moz-transition-delay: 0.94s;
    -o-transition-delay: 0.94s;
    transition-delay: 0.94s;
}
.page3.active .small-text i:nth-child(17) {
    -webkit-transition-delay: 0.68s;
    -moz-transition-delay: 0.68s;
    -o-transition-delay: 0.68s;
    transition-delay: 0.68s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(17) {
    -webkit-transition-delay: 2.62s;
    -moz-transition-delay: 2.62s;
    -o-transition-delay: 2.62s;
    transition-delay: 2.62s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(17) {
    -webkit-transition-delay: 0.98s;
    -moz-transition-delay: 0.98s;
    -o-transition-delay: 0.98s;
    transition-delay: 0.98s;
}
.page3.active .small-text i:nth-child(18) {
    -webkit-transition-delay: 0.72s;
    -moz-transition-delay: 0.72s;
    -o-transition-delay: 0.72s;
    transition-delay: 0.72s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(18) {
    -webkit-transition-delay: 2.66s;
    -moz-transition-delay: 2.66s;
    -o-transition-delay: 2.66s;
    transition-delay: 2.66s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(18) {
    -webkit-transition-delay: 1.02s;
    -moz-transition-delay: 1.02s;
    -o-transition-delay: 1.02s;
    transition-delay: 1.02s;
}
.page3.active .small-text i:nth-child(18) {
    -webkit-transition-delay: 1.42s;
    -moz-transition-delay: 1.42s;
    -o-transition-delay: 1.42s;
    transition-delay: 1.42s;
}
.page3.active .small-text i:nth-child(19) {
    -webkit-transition-delay: 0.76s;
    -moz-transition-delay: 0.76s;
    -o-transition-delay: 0.76s;
    transition-delay: 0.76s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(19) {
    -webkit-transition-delay: 2.7s;
    -moz-transition-delay: 2.7s;
    -o-transition-delay: 2.7s;
    transition-delay: 2.7s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(19) {
    -webkit-transition-delay: 1.06s;
    -moz-transition-delay: 1.06s;
    -o-transition-delay: 1.06s;
    transition-delay: 1.06s;
}
.page3.active .small-text i:nth-child(19) {
    -webkit-transition-delay: 1.46s;
    -moz-transition-delay: 1.46s;
    -o-transition-delay: 1.46s;
    transition-delay: 1.46s;
}
.page3.active .small-text i:nth-child(20) {
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(20) {
    -webkit-transition-delay: 2.74s;
    -moz-transition-delay: 2.74s;
    -o-transition-delay: 2.74s;
    transition-delay: 2.74s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(20) {
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.page3.active .small-text i:nth-child(20) {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.page3.active .small-text i:nth-child(21) {
    -webkit-transition-delay: 0.84s;
    -moz-transition-delay: 0.84s;
    -o-transition-delay: 0.84s;
    transition-delay: 0.84s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(21) {
    -webkit-transition-delay: 2.78s;
    -moz-transition-delay: 2.78s;
    -o-transition-delay: 2.78s;
    transition-delay: 2.78s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(21) {
    -webkit-transition-delay: 1.14s;
    -moz-transition-delay: 1.14s;
    -o-transition-delay: 1.14s;
    transition-delay: 1.14s;
}
.page3.active .small-text i:nth-child(21) {
    -webkit-transition-delay: 1.54s;
    -moz-transition-delay: 1.54s;
    -o-transition-delay: 1.54s;
    transition-delay: 1.54s;
}
.page3.active .small-text i:nth-child(22) {
    -webkit-transition-delay: 0.88s;
    -moz-transition-delay: 0.88s;
    -o-transition-delay: 0.88s;
    transition-delay: 0.88s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(22) {
    -webkit-transition-delay: 2.82s;
    -moz-transition-delay: 2.82s;
    -o-transition-delay: 2.82s;
    transition-delay: 2.82s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(22) {
    -webkit-transition-delay: 1.18s;
    -moz-transition-delay: 1.18s;
    -o-transition-delay: 1.18s;
    transition-delay: 1.18s;
}
.page3.active .small-text i:nth-child(22) {
    -webkit-transition-delay: 1.58s;
    -moz-transition-delay: 1.58s;
    -o-transition-delay: 1.58s;
    transition-delay: 1.58s;
}
.page3.active .small-text i:nth-child(23) {
    -webkit-transition-delay: 0.92s;
    -moz-transition-delay: 0.92s;
    -o-transition-delay: 0.92s;
    transition-delay: 0.92s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(23) {
    -webkit-transition-delay: 2.86s;
    -moz-transition-delay: 2.86s;
    -o-transition-delay: 2.86s;
    transition-delay: 2.86s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(23) {
    -webkit-transition-delay: 1.22s;
    -moz-transition-delay: 1.22s;
    -o-transition-delay: 1.22s;
    transition-delay: 1.22s;
}
.page3.active .small-text i:nth-child(23) {
    -webkit-transition-delay: 1.62s;
    -moz-transition-delay: 1.62s;
    -o-transition-delay: 1.62s;
    transition-delay: 1.62s;
}
.page3.active .small-text i:nth-child(24) {
    -webkit-transition-delay: 0.96s;
    -moz-transition-delay: 0.96s;
    -o-transition-delay: 0.96s;
    transition-delay: 0.96s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(24) {
    -webkit-transition-delay: 2.9s;
    -moz-transition-delay: 2.9s;
    -o-transition-delay: 2.9s;
    transition-delay: 2.9s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(24) {
    -webkit-transition-delay: 1.26s;
    -moz-transition-delay: 1.26s;
    -o-transition-delay: 1.26s;
    transition-delay: 1.26s;
}
.page3.active .small-text i:nth-child(24) {
    -webkit-transition-delay: 1.66s;
    -moz-transition-delay: 1.66s;
    -o-transition-delay: 1.66s;
    transition-delay: 1.66s;
}
.page3.active .small-text i:nth-child(25) {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(25) {
    -webkit-transition-delay: 2.94s;
    -moz-transition-delay: 2.94s;
    -o-transition-delay: 2.94s;
    transition-delay: 2.94s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(25) {
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.page3.active .small-text i:nth-child(25) {
    -webkit-transition-delay: 1.7s;
    -moz-transition-delay: 1.7s;
    -o-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.page3.active .small-text i:nth-child(26) {
    -webkit-transition-delay: 1.04s;
    -moz-transition-delay: 1.04s;
    -o-transition-delay: 1.04s;
    transition-delay: 1.04s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(26) {
    -webkit-transition-delay: 2.98s;
    -moz-transition-delay: 2.98s;
    -o-transition-delay: 2.98s;
    transition-delay: 2.98s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(26) {
    -webkit-transition-delay: 1.34s;
    -moz-transition-delay: 1.34s;
    -o-transition-delay: 1.34s;
    transition-delay: 1.34s;
}
.page3.active .small-text i:nth-child(26) {
    -webkit-transition-delay: 1.74s;
    -moz-transition-delay: 1.74s;
    -o-transition-delay: 1.74s;
    transition-delay: 1.74s;
}
.page3.active .small-text i:nth-child(27) {
    -webkit-transition-delay: 1.08s;
    -moz-transition-delay: 1.08s;
    -o-transition-delay: 1.08s;
    transition-delay: 1.08s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(27) {
    -webkit-transition-delay: 3.02s;
    -moz-transition-delay: 3.02s;
    -o-transition-delay: 3.02s;
    transition-delay: 3.02s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(27) {
    -webkit-transition-delay: 1.38s;
    -moz-transition-delay: 1.38s;
    -o-transition-delay: 1.38s;
    transition-delay: 1.38s;
}
.page3.active .small-text i:nth-child(27) {
    -webkit-transition-delay: 1.78s;
    -moz-transition-delay: 1.78s;
    -o-transition-delay: 1.78s;
    transition-delay: 1.78s;
}
.page3.active .small-text i:nth-child(28) {
    -webkit-transition-delay: 1.12s;
    -moz-transition-delay: 1.12s;
    -o-transition-delay: 1.12s;
    transition-delay: 1.12s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(28) {
    -webkit-transition-delay: 3.06s;
    -moz-transition-delay: 3.06s;
    -o-transition-delay: 3.06s;
    transition-delay: 3.06s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(28) {
    -webkit-transition-delay: 1.42s;
    -moz-transition-delay: 1.42s;
    -o-transition-delay: 1.42s;
    transition-delay: 1.42s;
}
.page3.active .small-text i:nth-child(28) {
    -webkit-transition-delay: 1.82s;
    -moz-transition-delay: 1.82s;
    -o-transition-delay: 1.82s;
    transition-delay: 1.82s;
}
.page3.active .small-text i:nth-child(29) {
    -webkit-transition-delay: 1.16s;
    -moz-transition-delay: 1.16s;
    -o-transition-delay: 1.16s;
    transition-delay: 1.16s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(29) {
    -webkit-transition-delay: 3.1s;
    -moz-transition-delay: 3.1s;
    -o-transition-delay: 3.1s;
    transition-delay: 3.1s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(29) {
    -webkit-transition-delay: 1.46s;
    -moz-transition-delay: 1.46s;
    -o-transition-delay: 1.46s;
    transition-delay: 1.46s;
}
.page3.active .small-text i:nth-child(29) {
    -webkit-transition-delay: 1.86s;
    -moz-transition-delay: 1.86s;
    -o-transition-delay: 1.86s;
    transition-delay: 1.86s;
}
.page3.active .small-text i:nth-child(30) {
    -webkit-transition-delay: 1.2s;
    -moz-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    opacity: 1;
}
.page3.active .cash i:nth-child(30) {
    -webkit-transition-delay: 3.14s;
    -moz-transition-delay: 3.14s;
    -o-transition-delay: 3.14s;
    transition-delay: 3.14s;
    opacity: 1;
}
.page3.active .small-text i:nth-child(30) {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.page3.active .small-text i:nth-child(30) {
    -webkit-transition-delay: 1.9s;
    -moz-transition-delay: 1.9s;
    -o-transition-delay: 1.9s;
    transition-delay: 1.9s;
}

.page4 {
    background: url("../images/pedestal.png") no-repeat center 98%;
    position: relative;
}

.page5 .big-search{
    margin-top: -30px;
}

.page5 {
    position: relative;
    overflow: hidden;
}
.rotate-img {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -119px;
    -webkit-transition: all 2s ;
    transition: all 2s ;
    -ms-transform: rotate(1000deg);
    -webkit-transform: rotate(1000deg);
    transform: rotate(1000deg);
}

.page5.active .rotate-img {
    bottom: 67px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition:all 2s ;
    transition:all 2s ;
}

.exenple-form .cash p {
    width: 108px;
    height: 66px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    text-align: center;
    color: #676767;
    font-family: "HelveticaNeueCyr";
    font-size: 20px;
    margin: 0 13px 0 22px;
}

.page_container {
    position: static;
}
.page_container .small-text {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    color: #000;
    font-family: "HelveticaNeueCyr";
    font-size: 24px;
    position: relative;
    float: left;
    cursor: default;
    width: 606px;
}
.page_container .small-text i {
    display: inline;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    float: left;
    font-family: "HelveticaNeueCyr";
}
.page_container .choice-product {
    text-align: center;
    display: inline-block;
    width: 842px;
    height: 294px;
    background-color: #f9f9f9;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -441px;
    z-index: 6;
    padding: 4px 0 0 31px !important;
    overflow: hidden;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: #c1c1c1 0 0 12px 0px;
    -moz-box-shadow: #c1c1c1 0 0 12px 0px;
    box-shadow: #c1c1c1 0 0 12px 0px;
}
.page_container h4 {
    width: 100%;
    float: none;
    margin-bottom: 12px;
}
.page_container .cash span {
    display: inline-block;
    position: relative;
    top: -23px;
}
.page_container .cash p {
    display: inline-block;
    position: relative;
    line-height: 66px;
    padding: 0 0 0 26px;
    font-size: 23px;
    margin-left: 31px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page_container .cash i {
    display: inline-block;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    font-family: "HelveticaNeueCyr";
    float: left;
}

.exenple-form button {
    width: 190px;
    padding: 0;
    cursor: default;
}

.pedestal {
    position: absolute;
    bottom: 20%;
    text-align: center;
    width: 100%;
}
.pedestal ul {
    display: inline-block;
}
.pedestal li {
    float: left;
    font-family: "jakocttbold";
    text-align: cente;
}
.pedestal span {
    position: relative;
    display: block;
}
.pedestal span:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    display: inline-block;
    width: 31px;
    height: 30px;
}

.pedestal1 {
    font-size: 30px;
    color: #f26e5a;
    margin-top: -138px;
}
.pedestal1 img, .pedestal1 span {
    margin: 0 0 16px;
}
.pedestal1 span {
    margin: 0;
}
.pedestal1 span:after {
    background: url("../images/planshet-icon1.png") no-repeat;
}

.pedestal2 {
    font-size: 22px;
    color: #00ae9d;
    margin: -46px 99px 0 0;
}
.pedestal2 img {
    margin: 0 0 9px;
    -ms-transform: scale(0.92);
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
.pedestal2 span:after {
    background: url("../images/planshet-icon2.png") no-repeat;
    top: 13px;
    left: 13px;
}

.pedestal3 {
    font-size: 20px;
    color: #00ae9d;
    margin: 0 0 0 84px;
}
.pedestal3 img, .pedestal3 span {
    -ms-transform: scale(0.86);
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
    margin: 0 0 16px;
}
.pedestal3 span {
    margin: 0;
}
.pedestal3 span:after {
    background: url("../images/planshet-icon3.png") no-repeat;
    top: 18px;
    left: 14px;
}

.scroll-img {
    position: absolute;
    bottom: 55px;
    width: 29px;
    left: 50%;
    height: 16px;
    background: url("../images/scroll-img.png") no-repeat;
    margin: 0 0 0 -487px;
    -webkit-animation: pulseBorder 1s infinite;
    animation: pulseBorder 1s infinite;
    cursor: pointer;
}

.question {
    position: absolute;
    bottom: 116px;
    width: 100%;
    text-align: center;
}
.question ul {
    display: inline-block;
}
.question li {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity: 0;
    float: left;
    color: #d5614f;
    font-family: "jakocttbold";
    font-size: 21px;
    margin: -130px 0 150px;
}
.question li:nth-child(1) {
    margin: 0 72px 0 0;
}
.question li:nth-child(3) {
    margin: -46px 0 0 38px;
}

.man-move {
    width: 156px;
    height: 207px;
    position: absolute;
    left: 0;
    bottom: 5px;
    opacity: 1;
    -webkit-transition: left 0.5s 0s ,-webkit-transform 0.5s 0s;
    -moz-transition: left 0.5s 0s ,-moz-transform 0.5s 0s;
    -o-transition:left 0.5s 0s,-o-transform 0.5s 0s;
    transition: left 0.5s 0s,transform 0.5s 0s;
    background-position: 0 0;
}
.man-move.big {
    background: url("../images/men-planshet.png") no-repeat;

}

.wrap-men {
    width: 1024px;
    position: relative;
    margin: 0 auto;
}
.viewing-page-2 .header,
.viewing-page-3 .header,
.viewing-page-4 .header,
.viewing-page-5 .header{
    padding-top: 15px;
    padding-bottom: 15px;
}

.viewing-page-2 .man-move {
    left: 443px;
    background-position: 0 -207px;
}

.viewing-page-3 .man-move {
    left: 865px;
}
.main{
    z-index: 1;
}
.viewing-page-4 .rotate-img{
    -webkit-transition:all 3s ;
    transition:all 3s ;
}
.viewing-page-5 .main{
    z-index: 11;
    -webkit-transition-property: z-index;
    -moz-transition-property: z-index;
    -o-transition-property: z-index;
    transition-property: z-index;
}

.viewing-page-5 .man-move,
.viewing-page-4 .man-move {
    left: 443px;
}
.viewing-page-5 .page4 {
    opacity: 0.25;
}
.viewing-page-5 .man-move {
    left: 465px;
    -ms-transform: scale(1.43);
    -webkit-transform: scale(1.43);
    transform: scale(1.43);
    bottom: 51px;

}

.onepage-pagination .active{
    background-color: #d1d1d1;
}
.onepage-pagination a{
    display: block;
    height: 100%;
}
.onepage-pagination li{
    height: 20%;
}
.onepage-pagination{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15px;
    background: #e7e7e7;
    z-index: 70;
}
.last-screen .rotate-img{
    display: none;
}
.last-screen .man-move{
    background-position: 0 -622px;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    left: 454px;

}